.rectangle1 {
    width: 330px ;
    height: 205px;
    background-color: black ;
    border: 13px;
    color: black;
    border-radius: 13px;
    margin-top: 90px;
    margin-left: 40px;
}

.body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.image1 {
    margin-right: 150px;
    border-radius: 50%;
    margin-top: -40px;
    object-fit: cover;
}
